<tr>
  <td class="title"><%= question.body %></td>
  <td class="test_id"><%= question.test_id %></td>
  <td class="functions"><%= link_to "Edit", edit_question_path(question) %></td>
  <td class="functions"><%= link_to "Delete", test_question_path, method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
