<tr>
  <td class="title"><%= badge.name %></td>
  <td class="id"><%= badge.url_badge %></td>
  <td class="id"><%= @rules.find(badge.rule_id).name %></td>
  <td class="id"><%= badge.parametr %></td>

</tr>
