<h1>My Badges</h1>

<table class="table table-striped">
  <tr class="table-primary">
    <th>Name</th>
    <th>URL</th>
    <th>Parametr</th>
  </tr>
  <%= render @badges %>
</table>

<%= link_to t('.back'), :root %>
