.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.text-valid-conf {
  color: #33D930;
}

.text-valid {
  color: #33D930;
}

.text-invalid-conf {
  color: #D93033;
}

.text-invalid {
  color: #D93033;
}
